table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Ensure the container takes up the full viewport height */
  background-color: #00d4fa;
  /* Background color */
}

/* Style for the form */
.form-container {
  background-color: rgb(251, 251, 252);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style for input fields */
input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style for the Submit button */
button {
  background-color: #0936ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
  
}
h1{
  background-color: #0936ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-align: center;
}

/* Add some spacing between elements */
br {
  display: none;
  margin: 20px 0;
}